body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: hsl(218, 44%, 22%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 20%; /* Adjusted to 20% */
  width: 100%;
  position: relative; /* Added for positioning of the button and additional info */
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.qr-code {
  max-width: 100%;
  border-radius: 7.5px;
}

.headline {
  font-size: 25px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-top: 10px;
}

.subtext {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  margin-top: 5px;
}

button {
  background-color: hsl(218, 44%, 22%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hsl(220, 15%, 55%);
}

button:active {
  transform: translateY(2px); /* Add a slight push effect on active */
}

.additional-info {
  display: none;
  margin-top: 15px;
  padding: 10px;
  background-color: hsl(220, 15%, 55%);
  border-radius: 7.5px;
  transition: opacity 0.5s ease;
}

.attribution {
  font-size: 14px;
  text-align: center;
  color: hsl(228, 45%, 44%);
  margin-top: 20px;
}

/* Media Query for screens 600px and below (typical mobile screens) */
@media only screen and (max-width: 600px) {
  .container {
    padding: 15px;
    max-width: 80%; /* Adjusted for better visibility on smaller screens */
  }

  .headline {
    font-size: 18px;
  }

  .subtext {
    font-size: 12px;
  }

  .attribution {
    font-size: 10px;
  }
}
